
    <!-- Portfolio Grid Section -->
    <br />
    <br />
    <script type="text/javascript" src="https://raw.githubusercontent.com/pcooksey/bibtex-js/master/src/bibtex_js.js"></script>
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <hr class="star-secondary">
                </div>
            </div>
            <div class="row">
              <bibtex src="/research/db.bib"></bibtex>
              <div id="bibtex_display"></div>
            </div>
        </div>
    </section>
