
    <!-- Portfolio Grid Section -->
    <br />
    <br />
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <hr class="star-secondary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <bibtex src="/research/db.bib"></bibtex>
                    <div class="bibtex_template">
                      <div class="if author">
                        <span class="author"></span>
                          ,<span class="title" style="font-style: italic;"></span>
                        <span class="if year">
                          ,<span class="year"></span>,
                        </span>
                        <span class="if url" style="margin-left: 20px">
                          <a class="url" style="color:black; font-size:10px">(view online)</a>
                        </span>
                      </div>
                    </div>
                    <div id="bibtex_display"></div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bibtex_js.js"></script>
