 <!-- CV Section -->
    <section class="success" id="CV">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Check out my Full CV</h2>
                    <hr class="star-light">
                    <a href="http://linkedin.com/in/rkrishnasanka" class="btn btn-lg btn-outline">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
