    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive" src="https://secure.gravatar.com/avatar/30874c5e3c3317f98a863afca25e94b0?s=300" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="intro-text">
                        <h2> Profiles | CV </h2>
                        <hr class="star-light">
                        <a href="http://linkedin.com/in/rkrishnasanka" title="Linkedin" target="_blank" class="btn btn-lg btn-outline">
                            <i class="fa fa-linkedin"></i>

                        </a>
                        <a href="https://scholar.google.com/citations?user=MjPx95UAAAAJ&hl=en" title="Google Scholar" target="_blank" class="btn btn-lg btn-outline">
                            <i class="ai ai-google-scholar"></i>

                        </a>
                        <a href="https://github.com/rkrishnasanka" title="Github Profile" target="_blank" class="btn btn-lg btn-outline">
                            <i class="fa-brands fa-github"></i>

                        </a>
                        <a href="/resources/sanka-cv-phd-23.pdf" title="Download CV" target="_blank" class="btn btn-lg btn-outline">
                            <i class="fa fa-download"></i>

                        </a>
                        <a href="https://hackaday.io/krishna" title="Hackaday Project Page" target="_blank" class="btn btn-lg btn-outline">
                            <i class="fa fa-hackaday"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">

                    <a href="#organizations" class="page-scroll">Organizations</a>

                </div>
                <div class="col-md-4">

                    <a href="#CV" class="page-scroll">CV</a>

                </div>
                <div class="col-md-4">

                    <a href="#portfolio" class="page-scroll">Portfolio</a>

                </div>
            </div>
        </div>
    </header>
