    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="https://secure.gravatar.com/avatar/30874c5e3c3317f98a863afca25e94b0?s=300" alt="">
                    <div class="intro-text">
                        <hr class="star-light">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                    <a href="#CV" class="btn btn-lg btn-outline">CV</a>

                </div>
                <div class="col-md-4">

                    <a href="#organizations" class="btn btn-lg btn-outline">Organizations</a>

                </div>
                <div class="col-md-4">

                    <a href="#portfolio" class="btn btn-lg btn-outline">Portfolio</a>

                </div>
            </div>
        </div>
    </header>
