
    <!-- Portfolio Grid Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Learning</h2>
                    <hr class="star-secondary">
                </div>
            </div>

                {% for post in site.posts %}
                {% if post.category == "learning" %}
                <div class="row">
                    <p>
                      {{ post.description}}
                    </p>
                    <a href="{{ post.url }}">More Info</a>
                  </div>
                {% endif %}
                {% endfor %}

        </div>
    </section>
