
    <!-- Portfolio Grid Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Project List</h2>
                    <hr class="star-secondary">
                </div>
            </div>

                {% for post in site.posts %}
                {% if post.category == "learning" %}
                <div class="row">
                    <div class="col-sm-4">

                        <img src="/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">

                    </div>
                    <div class="col-md-8">

                        <p>
                          {{ post.description}}
                        </p>
                        <a href="{{ post.url }}">More Info</a>

                    </div>
                  </div>
                  {% endif %}
                {% endfor %}

        </div>
    </section>
