
    <!-- Portfolio Grid Section -->
    <br />
    <br />
    <section id="learning">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Learning</h2>
                    <hr class="star-secondary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-6 text-center">
                <div class="row">
                  <h3>Minibooks</h3>
                  <hr>
                </div>
                {% for post in site.posts %}
                {% if post.category == "minibook" %}
                <div class="row">
                    <p>
                      {{ post.title }}
                    </p>
                    <p>
                      {{ post.description }}
                    </p>
                    <a href="{{ post.link }}">More Info</a>
                </div>
                <hr>
                {% endif %}
                {% endfor %}
                <hr>
              </div>
              <div class="col-lg-6 text-center">
                <div class="row">
                  <h3>Articles</h3>
                  <hr>
                </div>
                {% for post in site.posts %}
                {% if post.category == "learningarticle" %}
                <div class="row">
                    <p>
                      {{ post.title }}
                    </p>
                    <a href="{{ post.url }}">More Info</a>
                </div>
                {% endif %}
                {% endfor %}
                <hr>
              </div>
              <div class="col-lg-6 text-center">
                <div class="row">
                  <h3>Repositories</h3>
                  <hr>
                </div>
                {% for post in site.posts %}
                {% if post.category == "repository" %}
                <div class="row">
                    <p>
                      {{ post.title }}
                    </p>
                    <a href="{{ post.link }}">More Info</a>
                </div>
                {% endif %}
                {% endfor %}
                <hr>
              </div>
              <div class="col-lg-6 text-center">
                <div class="row">
                  <h3>Notes</h3>
                  <hr>
                </div>
                {% for post in site.posts %}
                {% if post.category == "notes" %}
                <div class="row">
                    <p>
                      {{ post.title }}
                    </p>
                    <a href="{{ post.link }}">More Info</a>
                </div>
                {% endif %}
                {% endfor %}
                <hr>
              </div>
            </div>
        </div>
    </section>
