
    <!-- Portfolio Grid Section -->
    <style>
      /* Prevents slides from flashing */
      #slides {
        display:none;
      }
    </style>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="jquery.slides.min.js"></script>

    <script>
      $(function(){
        $("#slides").slidesjs({
          width: 940,
          height: 528
        });
      });
    </script>
    <section id="posters">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research Posters</h2>
                    <hr class="star-secondary">
                </div>
            </div>
            <div class="row">
                <div id="slides" class="col-lg-12 text-center">
                    {% for image in site.static_files %}
                      {% if image.path contains 'img/posters' %}
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" height="400px" />
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
