<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}

    <section id="project">
      <div class="container">

        <div class="row">
            <div class="col-lg-8 text-center">
                <h2>{{ post.title }}</h2>
                <hr class="star-secondary">
            </div>
        </div>
        <div class="row">
          {{ content }}
        </div>
      </div>

    </section>

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
