<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}

    <section id="project">
      <div class="container">

        <div class="row">
            <div class="col-lg-8 text-center">
                <h2>{{ page.title }}</h2>
                <hr class="star-secondary">
            </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="row">
              {{ page.title }}
            </div>
            <div class="row">
              <a href="{{ page.link }}">{{ page.link }}</a>
            </div>
            <div class="row">
              <img src="/img/portfolio/{{ page.img }}">
            </div>
            <div class="row">
              Navigation
            </div>
            {% for post in site.posts %}
            {% if post.category == "project" %}
            <div class="row">
              <a href="{{ post.url }}">
              <img src="/img/portfolio/{{ post.img }}" alt="" height="30px" class="img-rounded">
              {{ post.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="col-lg-8">
            {{ content }}
          </div>
        </div>
      </div>

    </section>

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
